@using AlohaKumu.Models;
@using TestApp.Models;
@model List<Word>
@{
    User loggedIn = (User)Session["User"];
    int studyID = DataAccessor.studyIDFromUser(loggedIn);
    Study thisStudy = DataAccessor.studyFromID(studyID);
    <input type="hidden" id="userID" value="@loggedIn.ID" />
    <div id="instructions" class="overlay">
        @thisStudy.HearInstructions
        <br />
        <br />
        <audio controls>
            <source src="/Sounds/conga.mp3" type="audio/mpeg"/>
            <source src="/Sounds/conga.ogg" type="audio/ogg"/>
            YOUR BROWSER DOES NOT SUPPORT EMBEDDED AUDIO.  PLEASE UPDATE YOUR BROWSER BEFORE PARTICIPATING.
        </audio>
        <br />
        <br />
        <button id="gobutton">Go</button>
    </div>
    <input type="hidden" id="sid" value="@DataAccessor.studyIDFromUser(loggedIn)" />
    <script src='Scripts/hear_code.js'></script>
    <input type="hidden" id="trialTypeKey" value="@DataAccessor.getTrialTypeKeyFromName("HearSelect")" />
    Random random = new Random();
    int trialCount = Model.Count * thisStudy.WordTrialsPerBlock;
    <input type="hidden" id="trialSize" value="@trialCount" />
    <input type="hidden" id="userInControlGroup" value="@DataAccessor.currentlyControlGroup(loggedIn)" />
    <div id="feedback"></div>
    for (int i = 0; i < thisStudy.WordTrialsPerBlock; i++)
    {
        Model.Shuffle();
        for (int wordcount = 0; wordcount < Model.Count; wordcount++)
        {
            int position = random.Next(0, 3);
            List<Word> otherWords = new List<Word>(Model);
            otherWords.Remove(Model[wordcount]);
            Word[] options = new Word[3];
            for (int x = 0; x < options.Length; x++)
            {
                if (x == position)
                {
                    options[x] = Model[wordcount];
                }
                else
                {
                    options[x] = otherWords[random.Next(0, otherWords.Count)];
                    otherWords.Remove(options[x]);
                }
            }
            int trialIndex = (i * Model.Count) + wordcount;
            String trialLabel = "trial-" + trialIndex;
            String trialWordLabel = "trial-" + trialIndex + "-word";
            String trialSpokenLabel = "trial-" + trialIndex + "-spoken";
            String spokenSrc1 = "/Sounds/" + Model[wordcount].Hawaiian + ".mp3";
            String spokenSrc2 = "/Sounds/" + Model[wordcount].Hawaiian + ".ogg";
            String optionsLabel = "options-" + trialIndex;
            String optionLabel1 = "option-" + trialIndex + "-1";
            String optionLabel2 = "option-" + trialIndex + "-2";
            String optionLabel3 = "option-" + trialIndex + "-3";
            String soundLabel = "sound-" + trialIndex;
            String soundPath1 = "/Sounds/" + Model[wordcount].Consequence.Filename + ".mp3";
            String soundPath2 = "/Sounds/" + Model[wordcount].Consequence.Filename + ".ogg";
            String[] optionData = new String[3];
            optionData[0] = "false";
            optionData[1] = "false";
            optionData[2] = "false";
            optionData[position] = "true";
            String firstID = "id1-" + trialIndex;
            String secondID = "id2-" + trialIndex;
            String pic1 = Settings.ImagePath + options[0].Picture;
            String pic2 = Settings.ImagePath + options[1].Picture;
            String pic3 = Settings.ImagePath + options[2].Picture;
            <div class="trial overlay" id="@trialLabel">
                <input type="hidden" id="@trialWordLabel" value="@options[position].ID" />
                <div class="display id1" id="@firstID">@Model[wordcount].English</div>
                <div class="display id2" id="@secondID">
                    <audio id="@trialSpokenLabel" hidden="hidden" preload="auto">
                        <source src="@spokenSrc1" type="audio/mpeg" />
                        <source src="@spokenSrc2" type="audio/ogg" />
                    </audio>
                </div>
                <div class="display" id="@optionsLabel">
                    <div class="option" id="@optionLabel1" data-wordid="@options[0].ID" data-correct="@optionData[0]"><img src="@pic1" /></div>
                    <div class="option" id="@optionLabel2" data-wordid="@options[1].ID" data-correct="@optionData[1]"><img src="@pic2" /></div>
                    <div class="option" id="@optionLabel3" data-wordid="@options[2].ID" data-correct="@optionData[2]"><img src="@pic3" /></div>
                </div>
            </div>
            <audio id="@soundLabel" hidden="hidden" preload="auto">
                <source src="@soundPath1" type="audio/mpeg"/>
                <source src="@soundPath2" type="audio/ogg"/>
            </audio>
        }
    }
}