@using AlohaKumu.Models;
@using TestApp.Models;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Aloha Kumu</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <h2>Aloha Kumu</h2>
                </div>
                <div class="float-right">
                    <section id="user">
                        @if (Session["User"] != null)
                        {
                            if( (Session["User"] as User) != null )
                            {
                                User current = (User)Session["User"];
                                @Html.ActionLink("Log Off " + current.Username, "LogOff");
                            }
                            else if ((Session["User"] as Admin) != null)
                            {
                                Admin current = (Admin)Session["User"];
                                @Html.ActionLink("Log Off " + current.Username, "LogOff");
                            }
                        }
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
    </body>
</html>
